<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hg.p2p_2.biz.system.mapper.PasswordMapper" >
	<!-- 根据用户id和支付密码类型获取支付密码 -->
   <select id="findPasswordByUserId" parameterType="String" resultType="com.hg.p2p_2.biz.system.entity.PasswordEntity">
   		select * from tr_user_password where 
   </select>
</mapper>
